@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css";

body{
    margin-left: 20px;

    font-family: serif, sans-serif, cursive, fantasy, monospace;

    background: #fefefe;

}

.axis { font-size: 12px; }

#line path{
             fill: none;
             stroke: #ffab00;
             stroke-width: 2;
        }
