@import "../bootstrap/css/bootstrap.min.css";

body{
    /*選字體 沒第一個就選第二個 以此類推*/
    font-family: serif, sans-serif, cursive, fantasy, monospace;

    /*背景色*/
    background: #fefefe;

}

.axis { font-size: 12px; }

#line path{
             fill: none;
             stroke: #ffab00;
             stroke-width: 3;
        }
