<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <title>Visualization</title>

    <!-- import css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" />
</head>
<body>
    {{hello}}
    <!--選單列-->
    <div id="menu">
        <div id="station_select">
            地名
            <select>
                {% for station in station_list %}
                    <option value={{station}}>{{station}}</option>
                {% endfor %}
            </select>
        </div>

        <div id="attribute_select">
            觀察對象
            <select>
                {% for attribute in attribute_list %}
                    <option value={{attribute}}>{{attribute}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!--視覺化元件-->
    <div id="chart_holder" class="_dev">
        <!--時間序列圖表-->
        <div id="time_chart">time_chart</div>
        <!--台灣地圖-->
        <div id="taiwan_map">taiwan_map</div>
        <!--直方圖-->
        <div id="bar_chart">bar_chart</div>
    </div>

    <!--匯入 JavaScript-->
    <script src="https://d3js.org/d3.v5.js"></script>

    <!--視覺化JS檔-->
    <script src="js/core.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/time_chart.js"></script>
    <script src="js/bar_chart.js"></script>
    <script src="js/main.js"></script>
</body>
</html>